@import 'tailwindcss';
@plugin 'tailwindcss-debug-screens';

@theme {
  --font-sans: var(--font-inter), ui-sans-serif, system-ui, sans-serif;
  --font-display: var(--font-calsans);
  --background-image-gradient-radial: radial-gradient(
    50% 50% at 50% 50%,
    var(--tw-gradient-stops)
  );
  --animate-fade-in: fade-in 1.5s ease-in-out forwards;
  --animate-title: title 1.5s ease-out forwards;
  --animate-fade-left: fade-left 1.5s ease-in-out forwards;
  --animate-fade-right: fade-right 1.5s ease-in-out forwards;
}

@keyframes fade-in {
  0%,
  75% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fade-left {
  0% {
    transform: translateX(100%);
    opacity: 0;
  }
  30% {
    transform: translateX(0);
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes fade-right {
  0% {
    transform: translateX(-100%);
    opacity: 0;
  }
  30% {
    transform: translateX(0);
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes title {
  0% {
    line-height: 0;
    letter-spacing: 0.25em;
    opacity: 0;
  }
  25% {
    line-height: 0;
    opacity: 0;
  }
  80% {
    opacity: 1;
  }
  100% {
    line-height: 1;
    opacity: 1;
  }
}

@layer base {
  .text-edge-outline {
    -webkit-text-stroke: 1px rgba(255, 255, 255, 0.3);
  }
}
